.container{
    display: flex;
    flex-direction: column;
    color: white;

    margin-left: 50px;
}

.option__container{
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;

    font-size: 2rem;

    transition: font-size 1s, color 1s;
}

.option__container:hover{
    font-size: 2.1rem;
    color: var(--secondary-color);
}

.option__name{
    margin-right: 30px;
    min-width: 300px;

    font-weight: 200;
}