:root{
  --background-color: rgb(31, 31, 31);
  --primary-color: rgb(0, 180, 216);
  --secondary-color: #90E0EF;
  --font-color: #8d8d8d;
}

html, body {
  background-color: var(--background-color);
}
/* 
.entirePage{
  opacity: 0;

  animation: FadeIn linear 2s;
  animation-fill-mode: forwards;

}

@keyframes FadeIn{
  0% {
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
} */